@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Honk&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-display: 'Lexend Giga', sans-serif;
}