@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Honk&family=Indie+Flower&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-display: 'Bytesized', sans-serif;
}